#<IfModule mod_expires.c>
#	ExpiresActive On
#	ExpiresByType image/jpg "access 1 year"
#	ExpiresByType image/jpeg "access 1 year"
#	ExpiresByType image/gif "access 1 year"
#	ExpiresByType image/png "access 1 year"
#	ExpiresByType text/css "access 1 month"
#	ExpiresByType application/pdf "access 1 month"
#	ExpiresByType text/x-javascript "access 1 month"
#	ExpiresByType application/x-shockwave-flash "access 1 month"
#	ExpiresByType image/x-icon "access 1 year"
#	ExpiresDefault "access 2 days"
#</IfModule>

<IfModule mod_security.c>
	SecFilterEngine Off
	SecFilterScanPOST Off
</IfModule>

RewriteEngine on
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond $1 !^(index\.php|public|\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1

#<IfModule php5_module>
#	php_flag asp_tags Off
#	php_flag display_errors Off
#	php_value max_execution_time 30
#	php_value max_input_time 60
#	php_value max_input_vars 1000
#	php_value memory_limit 32M
#	php_value post_max_size 8M
#	php_value session.gc_maxlifetime 1440
#	php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
#	php_value upload_max_filesize 2M
#	php_flag zlib.output_compression On
#</IfModule>
