@charset "utf-8";

/*	MAIN ELEMENTS
================================================================================================================================== */
*{ -webkit-appearance: none; -moz-appearance: none; appearance: none; }
html, body{ font-size: 1rem; }
body{ min-height: 100%; color: #808080; font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6{ padding: 0; clear: both; font-weight: bold; }
h1{ margin: 1.4rem 0; font-size: 2rem; }
h2{ margin: 1.2rem 0; font-size: 1.8rem; }
h3{ margin: 1rem 0; font-size: 1.6rem; }
h4{ margin: .8rem 0; font-size: 1.4rem; }
h5{ margin: .6rem 0; font-size: 1.2rem; }
h6{ margin: .6rem 0; font-size: 1rem; }

a{ color: inherit; transition: all linear .3s}
a:hover, a:focus{ color: inherit; text-decoration: none; }

p{ margin-bottom: 1.2rem; }

span#q{display: none !important}

/*	GENERAL STYLES
================================================================================================================================== */
.list-inline{ margin: 0; }
.list-inline li{ margin: 0; padding: 0; display: inline-block; }
.list-inline li:nth-child(n+2){ padding-left: 15px; }
.list-inline li:nth-child(n+2):before{ content: "|"; float: left; margin: 0px 0 0 -10px; pointer-events: none; }

.box-image{ position: relative; display: block; width: 100%; overflow: hidden; }
.box-image img{ position: absolute !important; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; z-index: 0 !important; width: auto; min-width: 100%; height: auto; min-height: 100%; margin: auto; transition: 200ms; }
.box-image-fit img{ min-width: 0; max-width: 100%; min-height: 0; max-height: 100%; }
.box-image-zoom:hover img{ transform: scale(1.05); }
.box-image-icon{}
.box-image-icon:hover:before{ content: " "; position: absolute; top: 0px; left: 0px; z-index: 1; width: 100%; height: 100%; background-color: rgba(51,51,51,.4); }
.box-image-icon:hover:after{ content: "\f00e"; position: absolute; top: 50%; left: 50%; z-index: 2; line-height: 1; margin: -15px 0 0 -15px; color: #fff; font-family: "FontAwesome"; font-size: 30px; }

.color-fff{color: #fff}
.color-000{color: #000}

.bg-fff{background-color: #fff}
.bg-000{background-color: #000}

.link-phone-number{ cursor: default; }

label.form-label{ line-height: 1; padding-left: 20px; cursor: pointer; font-weight: normal; }
label.form-label input{ display: none; }
label.form-label input + span{ float: left; width: 16px; height: 16px; margin: 0 0 0 -15px; }
label.form-label input + span:before{ font-family: "FontAwesome" }
label.form-checkbox input[type=checkbox] + span:before{ content: "\f096"; }
label.form-checkbox input[type=checkbox]:checked + span:before{ content: "\f046"; }
label.form-radio input[type=radio] + span:before{ content: "\f10c"; }
label.form-radio input[type=radio]:checked + span:before{ content: "\f192"; }

ul.list-custom{ margin-bottom: 30px; }
ul.list-custom li{ padding: 0 0 5px 23px; }
ul.list-custom li:before{ content: "\f00c"; float: left; margin: 2px 0 0 -23px; font-family: "FontAwesome"; }

.menu-opacity {position: fixed; background-color: rgba(0,0,0,.5); width: 100%; height: 100%; z-index: 98}


/*	HEADER 
================================================================================================================================== */
header{ padding: 10px 0; background-color: #fff; }
header .container{}


section.menu{ background-color: #333; }
section.menu .container{}
section.slider .container{}

/* menu */
section.menu{}

/*Slider*/
section.slider{}

/*	PAGE-CLASSES
================================================================================================================================== */
/* Genel section wrapper stilleri */
.title-linethrough{ position: relative; }
.title-linethrough:before{ content: ""; position: absolute; top: 46%; width: 100%; border-top: 1px solid #000; }
.title-linethrough span{ position: relative; z-index: 3; padding-right: 20px; background-color: #fff; }


/* home */
section.home{ }


/*Content*/
section.content .header-page {}
section.section-content .header-top{background-color: #333333;color: #fff;border-top: 1px solid #797979;}
section.section-content .header-top .breadcrumb{float: none;}
section.section-content .header-top .breadcrumb li a{color: #fff}
section.section-content .header-top .breadcrumb-item.active{color: #fff}

section.section-content .header-top .breadcrumb-item+.breadcrumb-item::before{ content: "\f054"; font-family: 'FontAwesome'; color: #fff;}
section.section-content .header-top h1{font-size: 20px; margin:10px 0 20px}
section.section-content .header-top a.prev{opacity: .5; font-size: 16px; margin: 22px 0; transition: all linear .3s; border: 1px solid #fff;color:#fff; padding: 10px 20px; border-radius: 5px }
section.section-content .header-top a.prev .fa{font-size: 14px;}
section.section-content .header-top a.prev:hover{opacity: 1;}

section.section-content .main .header-image{height: 334px; background-size: cover;}
section.section-content .main .video{margin-top: -3rem; display: inline-block;}

section.section-content .main .details {color: #000}
section.section-content .main .details .desc h1{font-size: 20px;}

section.section-content .card {border: 0; border-bottom: 1px solid #ccc}
section.section-content .card .card-header {background-color: transparent; padding:0;border: 0}
section.section-content .card .card-header .btn-link{ color: #333; font-size: 18px; font-weight: 600;white-space: unset;text-align: left;}
section.section-content .card .card-header .btn-link:focus,
section.section-content .card .card-header .btn-link:hover{text-decoration: none;}
section.section-content .card .card-header .btn-link:before{content: "+";}
section.section-content .card .card-header .btn-link[aria-expanded='true']:before{content: "-";}

section.section-content .details .items{max-height: 250px;overflow: hidden;}

#wrapper { -moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out; -webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out; -ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out; transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out; position: relative;}
#wrapper.is-transitioning {opacity: 0;}
#wrapper > * > .inner {padding: 4em 0 2em 0 ;margin: 0 auto;max-width: 65em;width: calc(100% - 6em);}

/* Haberler */
.news {color:#000;}
.news .news-details{max-height: 150px;overflow: hidden;}

/* Ürünler */
.products {color:#000;}
.products .products-details{max-height: 150px;overflow: hidden;}


/* Main */


/* icerik */
section.content{ min-height: 500px; }

/* iletisim */
.section-content .contact{}

.section-content .contact .header-image{height: 334px; background-size: cover;}
.section-content .contact .contact-info .row .col-12 {border-right: 1px solid #000}
.section-content .contact .contact-info .row .col-12:last-child {border:0;}
.section-content .contact .contact-info p {margin-bottom: 0; line-height: 30px}
.section-content .contact .contact-info a {color:#333;}
.section-content .contact .contact-info a:hover {text-decoration: underline;}

.section-content .contact .form-control{width: 100%; height: auto; padding: 20px 20px 16px; background-color: #f8f8f8; display: inline-block; border:1px solid #eceded;font-family: 'Poppins'}
.section-content .contact .btn{display: block; width: 100%; height: auto; padding:16px 20px 14px; color: #fff; font-weight: bold; background-color: #333;  border:2px solid #333;  }
.section-content .contact .btn:hover{border-color:#333; color: #333; background-color: #fff  }

.section-content .contact {min-height:700px;}

.captcha-wrapper{ position: absolute; top: 1px; right: 5px; bottom: 1px; }

.google-map{ height: 400px; }
.gm-style-cc, .gm-style a img{ display: none; }


/* ik */
.section-career{}



/* sss */
.section-faq{ }


/* urunler */
.section-products{}


/* haberler */
.section-news{}


/* 404 */
.section-404{ text-align: center; }
.section-404 h2{ margin-top: 40px; margin-bottom: 20px; }
.section-404 p{ margin-bottom: 20px; }
.section-404 img{ margin-bottom: 80px; }



/*	FOOTER
================================================================================================================================== */
.section-footer{ padding: 15px 0; background-color: #aaa; font-size: 14px; }
.section-footer .container{}

.section-footer .social a{ display: inline-block; width: 26px; height: 26px; padding-top: 4px; color: #fff; border-radius: 50%; text-align: center; font-size: 12px; }

.section-footer .list-inline{ margin: 0; }
.section-footer .list-inline li{ margin: 0; padding: 0; }
.section-footer .list-inline li:nth-child(n+2){ padding-left: 20px; }
.section-footer .list-inline li:nth-child(n+2):before{ content: "|"; float: left; margin: 2px 0 0 -16px; pointer-events: none; }

.section-post-footer{ padding: 10px 0 0; color: #fff; background-color: #333; font-size: 14px; }

footer .container{}
footer.footer .col-12{border-right: 1px solid #ccc}
footer.footer .col-12:last-child{border-right:0px}
footer h4 { font-size: 16px;font-weight: 600; line-height: 24px}
footer a:hover{ color: #000}
footer .list-inline.social{font-size: 22px}
footer .list-inline li:nth-child(n+2):before {content: ""}

footer.footer-post{font-size:14px; color: #fff; background-color: #333; font-size: 1rem; border-top: 1px solid #000 }

.egegen{ position: relative; display: inline-block; width: 75px; height: 30px; overflow: hidden; }
.egegen .before, .egegen .after{ position: absolute; left: 0px; right: 0px; height: 100%; -webkit-transition: .1s; transition: .1s; display: block; }
.egegen .before{  top: 0%; }
.egegen .after{ top: 100%; }
.egegen:hover .before{ top: -100%; }
.egegen:hover .after{ top: 0%; }
.egegen .after svg{ width: 100%; height: 100%; } /* egegen logosu boyutları */
.egegen .egegen-logo path{ fill: #fff !important; } /* egegen logosu rengi */
.egegen .before svg{ width: 100%; height: 100%; } /* oscar logosu boyutları */
.egegen .oscar-logo path{ fill: #fff !important; } /* oscar logosu rengi */

.back-to-top{ position: fixed; bottom: 5px; right: 5px; z-index: 999; display: inline-block; width: 40px; height: 40px; line-height: 32px; opacity: 0; color: #fff !important; background-color: #666; border-radius: 50%; text-align: center; font-size: 28px; pointer-events: none; transition: 150ms; }
.back-to-top.active{ opacity: .6; pointer-events: inherit; }
.back-to-top.active:hover{ opacity: 1; }



/*  MEDIA QUERIES (ENABLE WHEN RESPONSIVE)
================================================================================================================================== */
/* XLG Desktop */
@media (min-width: 1440px) {
}

/* XLG Desktop */
@media (max-width: 1539px) {
	.
}

/* LG Desktop */
@media (min-width: 1200px) and (max-width: 1439px) {
	
}

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {
	.social.list-inline li:nth-child(n+2) {padding-left: 10px}
}

/* Tablet and below */
@media (max-width: 959px) {
	section.menu a.search{position: relative; z-index: 999}
	.section-content .contact .maps .map{width: 100%; margin-top: 0}
	.google-map{height: 360px;}
}

/* Tablet */
@media (min-width: 720px) and (max-width: 959px) {
	.social.list-inline li:nth-child(n+2) {padding-left: 2px}
	footer .address a {display: block;}
	footer .address a.ml-3 {margin: 0 !important}
}

/* XS Mobile */
@media (max-width: 719px) {
	section.section-content .main .video iframe{width: 100%; height: auto; }
	.section-content .contact .header-image,
	section.section-content .main .header-image {height: 220px}
	.section-content .contact .contact-info .row .col-12 {border: 0}

}

/* All Mobile */
@media (min-width: 540px) and (max-width: 719px) {
	header .language span {font-size: 15px}
	footer.footer .col-12:last-child {border-right: 1px solid #ccc}
}

/* All Mobile */
@media (max-width: 539px) {

}
@media (max-width: 359px) {
	
}

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
}


/*	MODERNIZR FIXES (CROSS-BROWSER)
================================================================================================================================== */
.lt-ie9 .container{ } /* ie less than 9 */
.chrome .container{ } /* chrome tarayıcı */



/*  TEXT SELECTION COLOR
================================================================================================================================== */
::selection{ background: #bebebe; color: #fff; }
::-moz-selection{ background: #bebebe; color: #fff; }
::-webkit-selection{ background: #bebebe; color: #fff; }
::-ms-selection{ background: #bebebe; color: #fff; }
::-o-selection{ background: #bebebe; color: #fff; }



/*  PLACEHOLDER COLOR
================================================================================================================================== */
::-webkit-input-placeholder { color: #ababab !important; opacity: 1; }
::-moz-placeholder { color: #ababab !important; opacity: 1; }
:-ms-input-placeholder { color: #ababab !important; opacity: 1; }
input:-moz-placeholder { color: #ababab !important; opacity: 1; }

:disabled::-webkit-input-placeholder { opacity: 0.5; }
:disabled::-moz-placeholder { opacity: 0.5; }
:disabled:-ms-input-placeholder { opacity: 0.5; }
:disabled:-moz-placeholder { opacity: 0.5; }