/*** Jetmenu ***/
.jetmenu{ margin: 0; background-color: transparent; }
.jetmenu > li > a{ padding: 15px 20px; color: #ddd; background-color: #333; }
.jetmenu > li:hover > a, .jetmenu > li.active > a{ color: #fff; background-color: #333; }

.jetmenu .indicator{ top: 1px; }
.jetmenu ul.dropdown{ top: 50px; }

@media (max-width: 991px) {
	.jetmenu > li > a{ padding: 14px; font-size: 14px; }
}
@media (max-width: 767px) {
	.jetmenu{ width: 100%; }
	.jetmenu > li > a{ height: auto; padding: 10px; }

	.jetmenu > li.showhide{ height: 40px; background-color: transparent; text-align: center; }
	.jetmenu > li.showhide span.title{ display: none; }
	.jetmenu > li.showhide span.icon{ float: none; display: inline-block; width: 40px; height: 100%; margin: 0; padding-top: 10px; }
	.jetmenu > li.showhide .icon em{ width: 100%; height: 4px; background-color: #fff; }
	.jetmenu > li.showhide .icon em:last-child{ display: none; }
}

/*** Flexslider ***/
.flexslider{ margin-bottom: 0px; }
.flexslider img{ display: inline-block; width: auto !important; }
.flexslider li.item{ position: relative; height: 400px; background-size: cover; background-position: center center; }
.flexslider .flex-caption{ position: absolute; top: 10px; left: 10px; z-index: 9; padding: 0 15px; color: #fff; }

.flex-direction-nav a{ height: 55px; color: #fff; }
.flex-direction-nav a:before{ content: '\f001'; }
.flex-direction-nav a.flex-next:before{ content: '\f002'; }
.flex-direction-nav .flex-prev, .flexslider:hover .flex-prev{ left: 10px; opacity: 1; }
.flex-direction-nav .flex-next, .flexslider:hover .flex-next{ right: 10px; opacity: 1; }

.flex-control-nav{ position: absolute; bottom: 10px; z-index: 9; text-align: center; }
.flex-control-nav li{ margin: 0 6px 0 0; }
.flex-control-paging li a{ background: #fff; border: 1px solid #fff; box-shadow: none; }
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background: #02b8fa; }
.flex-control-paging li a.flex-active{ cursor: default; }

@media (max-width: 991px) {
}
@media (max-width: 767px) {
}

/*** Slick ***/

.main-slides .flex-caption {position: absolute; top: 30%; color: #fff; font-size: 18px; text-align: center; width: 100%; z-index: 999}
.main-slides .flex-caption p{font-weight:300; font-size: 18px }
.main-slides .flex-caption h2{font-weight:300; font-size: 48px }
.main-slides .flex-caption a{display: inline-block; margin:.6em 0em 0; padding: .7em 3em .6em; font-weight: 600;font-weight:300; font-size: 18px; border: 1px solid #fff }
.main-slides .flex-caption a:hover{border-color: #000; color: #000}

@media (max-width: 719px) {
	
}
@media (max-width: 539px) {
	.main-slides .flex-caption {top:20% !important;}
	.main-slides .flex-caption h2{font-weight:300; font-size: 24px; margin:0.5rem 0; }
	.main-slides .flex-caption a{padding: .4em 1em .3em;}
}

/*** Validation ***/
.formError .formErrorContent{ white-space: nowrap; border: none; border-radius: 0px; white-space: nowrap; font-size: 12px; font-weight: 500; }
.formError .formErrorContent, .formError .formErrorArrow div{ box-shadow: none !important; }



/*** Carousel ***/
.carousel-main-wrapper{ overflow-x: hidden; }
.carousel-wrapper{ margin-right: -20px; }
.carousel-wrapper li{ padding-right: 20px; }

.carousel-navigation{ display: inline-block; width: auto; }
.carousel-navigation a{ float: left; display: inline-block; height: 20px; margin-left: 5px; padding: 0 5px; color: #272727; border-radius: 3px; border: 1px solid #9d9d9d; font-size: 15px; }


/*Select*/
.select-wrapper{ position: relative; height: 34px; width: 100%; margin-top: .3rem}
.select-wrapper:after{ content: "\eb25"; position: absolute; top: 3px; right: 3px; width: 30px; height: 100%; padding-top: 4px; font-family: "icofont"; text-align: center; pointer-events: none; }
.select-wrapper select{ color: #b0b0b0; font-weight: 400; font-size: 14px; text-align-last: center;width: 99.8%; height: 100%; padding: 5px; background-color: transparent; border: none; box-shadow: none !important; cursor: pointer; }
.select-wrapper option{ padding: 5px; background-color: #fff; color: #b0b0b0; font-weight: 400; font-size: 14px }
.select-wrapper.select-wrapper-disabled{ background-color: #eee; }
.select-wrapper.select-wrapper-disabled:after{ background-color: #eee; }



/*News-slick*/
.news .slick-dots li{margin: 0}
.news .slick-dots li button:before {border-radius: 50%; width: 8px; height: 8px; background-color: #000; content: ""}

/*Checkbox*/
.checkbox-input{ display: flex; cursor: pointer; margin-bottom: 1rem }
.checkbox-input span{position: relative; top: 2px}
.checkbox-input:before{margin-right: .5rem; content: ""; text-align: center; font-size: 15px; width: 25px; height: 25px; border:1px solid #e3e3e3; background-color: #f8f8f8; border-radius: 5px; display: flex; padding-right: 5px; font-family: "icofont"; }
.checkbox-input.checked:before{ content: "\ed27"; padding:0 5px; background-color: #582700; color: #fff;  }

.services-list .slick-dots{bottom: -3rem}
.services-list .slick-dots li{margin: 0}
.services-list .slick-dots li button:before{margin-top: 2px; width: 8px; height: 8px; background-color: #00ace7; content: ""; border-radius: 50%; opacity: 1}
.services-list .slick-dots li:hover button:before,
.services-list .slick-dots li.slick-active button:before{background-color: #00ace7;width: 14px; height: 14px; margin-top: -2px}

.testimonial .slick-dots{bottom: -2rem}
.testimonial .slick-dots li{margin: 0}
.testimonial .slick-dots li button:before{margin-top: 2px; width: 8px; height: 8px; background-color: #fff; content: ""; border-radius: 50%; opacity: 1}
.testimonial .slick-dots li:hover button:before,
.testimonial .slick-dots li.slick-active button:before{background-color: #fff;width: 14px; height: 14px; margin-top: -2px}